[project]
	description = EDA on bay-area bike share in python
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Naveen Pitchai (naveenpitchai)
[access "refs/for/refs/*"]
	read = group user/Naveen Pitchai (naveenpitchai)
	push = group user/Naveen Pitchai (naveenpitchai)
	label-Code-Review = -2..+2 group user/Naveen Pitchai (naveenpitchai)
	label-Verified = -1..+1 group user/Naveen Pitchai (naveenpitchai)
	rebase = group user/Naveen Pitchai (naveenpitchai)
	removeReviewer = group user/Naveen Pitchai (naveenpitchai)
	submit = group user/Naveen Pitchai (naveenpitchai)
[access "refs/heads/*"]
	read = group user/Naveen Pitchai (naveenpitchai)
	create = group user/Naveen Pitchai (naveenpitchai)
	push = +force group user/Naveen Pitchai (naveenpitchai)
	pushMerge = group user/Naveen Pitchai (naveenpitchai)
[access "refs/tags/*"]
	push = group user/Naveen Pitchai (naveenpitchai)
	push = +force group user/Naveen Pitchai (naveenpitchai)
